<div class="product-list">
  <h1>All Products</h1>
  <% if !@products.nil? %>
    <%= form_tag products_path, method: :get do %>
      <%= text_field_tag :search, params[:search], class: "search-input", placeholder: "Search products..." %>
      <%= submit_tag "Search", class: "search-index" %>
    <% end %> <br>
    <div class="product-grid">
      <% @products.each do |product| %>
        <div class="product-card">
          <div class="product-image">
            <%= link_to image_tag(product.photo, class: "product-photo"), product_path(product) if product.photo.attached? %>
          </div>
          <div class="product-details">
            <h2 class="product-name"><%= link_to product.name, product_path(product) %></h2>
            <p class="product-price">PhP <%= product.price %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<br>
<button class="create-form-submit">
  <%= link_to "Create New Product", new_product_path %>
</button>
<%= stylesheet_link_tag "all_product", media: "all", "data-turbolinks-track": "reload" %>
