<table class="product-table">
  <thead>
    <tr>
      <th>Product Photo</th>
      <th>Product Name</th>
      <th>Product Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="product-photo-cell">
        <%= image_tag @product.photo if @product.photo.attached? %>
      </td>
      <td class="product-name-cell"><%= @product.name %></td>
      <td class="product-description-cell"><%= @product.description %></td>
      <td class="product-price-cell"><%= @product.price %></td>
      <td class="product-quantity-cell"><%= @product.quantity %></td>
      <td class="product-edit-cell">
        <button class="edit-button"><%= link_to "Edit Product", edit_product_path(@product) %></button>
      </td>
      <td class="product-delete-cell-container">
        <%= button_to "Delete Product", @product, method: :delete, class: "product-delete-cell", onclick: "return confirm('Are you sure?');" %>
      </td>
    </tr>
  </tbody>
</table>
<br>

<button class="show-form-submit">
  <%= link_to "Create New Product", new_product_path %>
</button>
<button class="show-form-submit">
  <%= link_to "Back to Main", products_path %>
</button>

<%= stylesheet_link_tag "show_product", media: "all", "data-turbolinks-track": "reload" %>
