<h1> <%= @product.name %> </h1>
  <table border='1'>
    <th> Product Photo </th>
    <th> Product Name </th>
    <th> Product Description </th>
    <th> Price </th>
    <th> Quantity </th>
    <th> Edit </th>
    <th> Delete </th>

    <tr>
        <td> <%= image_tag @product.photo if @product.photo.attached? %> </td>
        <td> <%= @product.name %> </td>
        <td> <%= @product.description %> </td>
        <td> <%= @product.price %> </td>
        <td> <%= @product.quantity %> </td>
        <td>
          <button> <%= link_to "Edit Product", edit_product_path %> </button> </td>
        <td>
          <%= button_to "Delete Product", @product, method: :delete, onclick: "return confirm('Are you sure?');" %>
        </td>
    </tr>
  </table>
<br>



<%= link_to "Create New Product", new_product_path %> <br>
<%= link_to "Back to Main", products_path %>
